{
  "env": {
    "ANTHROPIC_BASE_URL": "http://127.0.0.1:8081",
    "ANTHROPIC_AUTH_TOKEN": "dummy",
    "ANTHROPIC_MODEL": "sonar"
  },
  "permissions": {
    "defaultMode": "default"
  },
  "theme": "dark",
  "dangerouslySkipPermissions": false,
  "skipDangerousModePermissionPrompt": true
}